// header style
.headerSection {

    background: url(/images/slider-background.png) center/cover;
    padding-top: 7px;

    .menu {
        flex: 0 0 228px;
        background: #fff;
        position: relative;

        @media screen and (max-width: 660px) {
            flex: 0 0 100%;
        }

        &:before {
            content: "";
            position: absolute;
            width: 16px;
            top: 0;
            bottom: 0;
            background: url(/images/menu-shadow-2.png) no-repeat;
            right: -16px;

            @media screen and (max-width: 660px) {
                display: none;
            }
        }

        &:after {
            content: '';
            position: absolute;
            border: 114px solid transparent;
            border-top: 40px solid #fff;

            @media screen and (max-width: 660px) {
                left: 50%;
                transform: translate(-50%);
            }
        }

        .logoLink {
            height: 135px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #eaeaea;

            img {
                display: block;
                width: auto;
            }
        }
        nav {
            padding: 33px 46px;
            position: relative;

            a {
                line-height: 2.38;
                color: #7e7e7e;

                @media screen and (max-width: 660px) {
                    display: block;
                    width: 100%;
                    text-align: center;
                    line-height: 3.5;
                }
            }
        }
    }
}