//slider styles
.slider {
    min-height: 564px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    margin: 0 3%;
    
    .sliderNavigation {
        flex: 0 1 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #fff;
            margin: 0 5px;

            &.active {
                background: #008170;
            }
        }
    }
    .slides {
        flex: 1 1 auto;
        display: flex;

        &>div {
            flex: 1 1 auto;
            display: flex;
        }
    }
    .slide2 {
        justify-content: center;

        .slideWrapper {
            flex: 0 1 650px;
            align-self: flex-end;
        }
        .socialButtons {
            flex: 0 1 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 60px;
            margin: auto;

            & a {
                display: block;
                width: 125px;
                padding-top: 100%;
                margin: 0 18px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: auto;

                @media screen and (max-width: $tableWidth) {
                    width: 80px;
                    background-size: 100%;
                }

                @media screen and (max-width: $phoneWidth) {
                    width: 66px;
                }
            }

            .twitter {
                background-image: url(/images/twitter.png);
            }
            .dribble {
                background-image: url(/images/dribble.png);
            }
            .camera {
                background-image: url(/images/camera.png);
            }
        }
        p {
            text-align: center;
            font-size: 22px;
            font-weight: 300;
            line-height: 1.32;
            text-align: center;
            color: #fff;
            margin-bottom: 60px;

            @media screen and (max-width: $phoneWidth) {
                font-size: 16px;
            }
        }
        .socialMediaLink {
            display: flex;
            width: 190px;
            height: 48px;
            justify-content: center;
            align-items: center;
            border: 2px solid #fff;
            border-radius: 10px;
            text-transform: uppercase;
            color: white;
            font-weight: 600;
            font-size: 22px;
            margin: 0 auto 16px auto;
            user-select: none;
        }
    }
}