.mainCustomersSection {

    box-shadow: 0 0 6px #00000047;

    .contentWrapper {
        justify-content: space-between;

        @media screen and (max-width: 840px) {
            flex-wrap: wrap;
          }

        li {
            flex-grow: 0;
            flex-shrink: 1;
            height: 122px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;

            @media screen and (max-width: 660px) {
                background-size: 50%;
            }

            &.cocaCola {
                background-image: url(/images/coca-cola-logo.png);
                flex-basis: 163px;

                @media screen and (max-width: 840px) {
                    flex-basis: 50%;
                  }
            }
            &.puma {
                background-image: url(/images/puma-logo.png);
                flex-basis: 150px;
                background-position: 50% 19%;

                @media screen and (max-width: 840px) {
                    flex-basis: 50%;
                    background-position: center;
                  }
            }
            &.bacardi {
                background-image: url(/images/bacardi-logo.png);
                flex-basis: 261px;

                @media screen and (max-width: 840px) {
                    flex-basis: 50%;
                  }
            }
            &.nestle {
                background-image: url(/images/nestle-logo.png);
                flex-basis: 158px;

                @media screen and (max-width: 840px) {
                    flex-basis: 50%;
                  }
            }
            
        }
    }
}

.intro1Section {
    background: #fff;
    padding-top: 68px;

    .contentWrapper {
        display: block;
        text-align: center;

    }
     h1 {
        max-width: 645px;
        font-size: 30px;
        font-weight: 300;
        line-height: 1.63;
        color: #797979;
        margin: 0 auto 47px auto;

        @media screen and (max-width: 660px) {
            font-size: 25px;
          }
     }
     p {
        max-width: 856px;
        font-size: 14px;
        line-height: 1.57;
        color: #797979;
        margin: 0 auto 54px auto;
     }
     a {
        display: flex;
        margin: 0 auto 47px auto;
        justify-content: center;
        align-items: center;
        width: 167px;
        height: 45px;
        border-radius: 4px;
        background-color: #1dc896;
        color: white;
        font-size: 24px;
        font-weight: 300;
        user-select: none;
     }
}

.intro2Section {
    background: #1dc896;
    color: #ffffff;
    padding: 50px 0 0;

    .contentWrapper {
        justify-content: space-evenly;
    }

    &>.contentWrapper>div {
        flex: 0 1 415px;
        padding: 0 15px;
    }
    h2 {
        font-size: 24px;
        font-weight: 300;
        line-height: 1.42;
        margin-bottom: 20px;
    }
    p {
        font-size: 14px;
        line-height: 1.57;
        margin-bottom: 60px;
    }
}
.mapSection {

    position: relative;
    height: 560px;
    padding: 0;

    @media screen and (max-width: $tableWidth) {
        position: relative;
        height: auto;
        display: block;
      }

    .mapWrapper {
        background-image: url(/images/map-static-image.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        @media screen and (max-width: $tableWidth) {
            position: static;
            padding-top: 100%;
        }
    }

    .contentWrapper {
        height: 0;
        justify-content: flex-end;
        position: relative;
        z-index:1;

        @media screen and (max-width: $tableWidth) {
            height: auto;
        }
    }

    .contactForm {
        padding: 34px 34px 0;
        background: white;
        border-radius: 6px;
        border-top: 9px solid #38e2b0;
        width: 422px;
        margin: 76px 0 40px;
        box-shadow: 0 1px 8px -2px #00000061;

        @media screen and (max-width: $tableWidth) {
            margin: 0;
            flex: 0 0 100%;
            border-radius: 0;
            
        }

        h1 {
            font-size: 30px;
            font-weight: 300;
            color: #797979;
            margin-bottom: 26px;
        }

        input,
        textarea {
            display: block;
            width: 100%;
            border: 1px solid #d8d8d8;
            margin-bottom: 15px;
            padding: 6px 16px;
            opacity: 0.7;
            font-size: 14px;
        }
        textarea {
            resize: none;
            height: 80px;
        }
        button {
            display: flex;
            width: 126px;
            height: 34px;
            background-color: #1dc896;
            justify-content: center;
            align-content: center;
            cursor: pointer;
            border-radius: 3px;
            color: #fff;
            margin: 0 0 92px auto;
            user-select: none;
        }
    }
}