@import "utils/reset";
@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
  height: 100%;

  // @media screen and (max-width: $desktopWidth) {

  // }
  // @media screen and (max-width: $tableWidth) {

  // }
  // @media screen and (max-width: $phoneWidth) {

  // }
}

body {
  font-family: $mainFont;
	font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f4f4f4;
}

.contentWrapper {
  flex: 0 1 $contentWrapperSize;
  display: flex;
  align-items: flex-start;

    @media screen and (max-width: 660px) {
      flex-wrap: wrap;
    }
}
.container {
  display: flex;
  justify-content: center;
  padding: 0 2%;
}
a {
  color: inherit;
}

@import "modules/header";
@import "modules/slider";
@import "modules/wrapper";
@import "modules/footer";